/* home.css - Styles specific to the home.js page */

.dvd-logo {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transition: transform 0.5s ease-in-out;
}

.hr {
  height: 2em;
  border: none;
  background-color: var(--darker); /* Give it a thin, blue line look for separation */
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark);
  color: var(--text-color);
  font-size: 1.8rem;
}

.home-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--body-background-color);
  overflow: none;
}

.header-bar {
  background-color: var(--section-background);
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  background: var(--button-background);
  color: var(--button-text-color);
  border: 1px solid var(--button-border);
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab.active {
  background: var(--button-hover-background);
  color: var(--accent-color);
}

.tab:hover {
  background: var(--button-hover-background);
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--section-background);
}

.tab-content {
  flex: 1;
  padding: 20px;
  background: var(--section-background);
}

.ranking-section,
.map-section,
.histogram-section {
  margin: 20px 0;
  padding: 15px;
  background: var(--darker);
  border-radius: 8px;
}

/* Scrollbar Styling */
.scrollable-content::-webkit-scrollbar {
  width: 12px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 6px;
  filter: brightness(0.8);
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}