/* home.css - Styles specific to the home.js page */

.dvd-logo {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transition: transform 0.5s ease-in-out;
}

.hr {
  height: 2em;
  border: none;
  background-color: var(--darker); /* Give it a thin, blue line look for separation */
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark);
  color: var(--text-color);
  font-size: 1.8rem;
}

.home-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--darkest);
  overflow: none;
}

.header-bar {
  display: flex;
  flex-direction: column; /* Default for narrow screens */
  align-items: center; /* Centers the tabs and logo */
  padding: 10px 0;
  background-color: var(--darkest);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow for separation */
  border-bottom: 1px solid var(--darker);
  z-index: 10;
}

@media (min-width: 768px) {
  .header-bar {
    flex-direction: row; /* Horizontal layout for wide screens */
    justify-content: space-between; /* Separates the two tab groups */
    padding: 20px; /* More padding for larger screens */
  }
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 0.2em;
  flex-wrap: nowrap;
  height: 100%;
  margin: 10px 0;
}

.tab {
  position: relative;
  background: var(--darker);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: 1px solid var(--button-border);
  border-bottom: none; /* Makes it look like a folder tab */
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab.active {
  background: var(--button-hover-background);
  color: var(--accent-color);
  z-index: 12;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab:hover {
  background: var(--dark);
}

.tab-content {
  flex: 1;
  background: var(--section-background);
  border: 1px solid var(--button-border);
  padding: 0.4em;
  border-radius: 0 0 5px 5px; /* Matches the folder appearance */
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  overflow: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .tabs {
    justify-content: space-between;
  }

  .tabs:first-child {
    flex: 1;
    justify-content: flex-start;
  }

  .tabs:last-child {
    flex: 1;
    justify-content: flex-end;
  }
}

.scrollable-content {
  flex: 1;
  overflow: auto;
  padding: 4em;
  background-color: var(--darkest);
}

@media (max-width: 768px) {
  .tab-content {
    padding: 0.2em;
  }

  .scrollable-content {
    padding: 1em;
  }

  .tabs {
    width: 100%;
    margin: 0.4em;
    display: flex;
  }

  .tab {
    flex: 1;
    text-align: center;
    margin: 5px;
  }

  .tab.active {
    transform: unset;
  }
}

.ranking-section {
  max-width: 800px;
}

.ranking-section,
.map-section,
.histogram-section {
  margin: 20px 0;
  padding: 15px;
  background: var(--darker);
  border-radius: 8px;
}

/* Scrollbar Styling */
.scrollable-content::-webkit-scrollbar {
  width: 12px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 6px;
  filter: brightness(0.8);
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}