/* Container that holds the entire map and panel section */
.map-and-panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: var(--darkest);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

/* World map container styling */
.world-map-container {
  position: relative;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 1em;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .world-map-container.sidebar-open {
    display: none; /* Hide map container when the sidebar is open */
  }
}

/* Side panel styling */
.side-panel {
  position: relative;
  width: 400px;
  height: 100%;
  background-color: var(--darker);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  padding: 1em;
  overflow-y: auto; /* Independent scrolling within the sidebar */
  transition: transform 0.3s ease-in-out;
  border-left: 1px solid var(--border-color);
  z-index: 15; /* Ensure it stays above the map when visible */
}

@media (max-width: 768px) {
  .side-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover entire viewport height */
    overflow-y: auto; /* Allow scrolling within the side panel */
    z-index: 20; /* Ensure it overlays the map */
  }
}

/* Scrollbar Styling */
.side-panel::-webkit-scrollbar {
  width: 12px;
}

.side-panel::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.side-panel::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 6px;
  filter: brightness(0.8);
}

.side-panel::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* Close button styling */
.close-button {
  background-color: var(--button-background);
  border: none;
  color: var(--button-text-color);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.close-button:hover {
  background-color: var(--button-hover-background);
}

/* Accordion item styling */
.accordion-item-wrapper {
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--section-background);
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--heading-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.accordion-item-header strong {
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis for truncated content */
  white-space: nowrap; /* Prevents wrapping */
}

.accordion-icon {
  color: var(--weird);
  font-weight: bold;
}

.accordion-item-header:hover {
  background-color: var(--button-hover-background);
}

.accordion-item-details {
  padding: 15px;
  background-color: var(--darker);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion-item-details strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion-item-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-key {
  font-weight: bold;
  flex: 1;
  text-align: left;
}

.item-value {
  flex: 2;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion-section-title {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  color: var(--heading-color);
}

/* Map controls styling */
.controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background-color: var(--darkest);
}

.controls input[type="text"] {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--darker);
  background-color: var(--dark);
  color: var(--text-color);
}

.controls input[type="text"]::placeholder {
  color: var(--placeholder-color);
}

/* Custom pin styling */
.custom-pin {
  transition: transform 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
  border: 6px solid var(--darkest);
  text-align: center; 
  color: var(--darkest);
  font-size: 12px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-pin:hover {
  transform: scale(1.1);
}

/* Probe origin pin styling */
.probe-pin {
  transition: transform 0.2s ease;
  cursor: pointer;
  background-color: var(--blue);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 6px solid var(--darkest);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--darkest);
}

.probe-pin:hover {
  transform: scale(1.1);
}

